<!DOCTYPE html>
<html>
<head>
    <title>My Documents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-left">
          <li><a href="/">Home</a></li>
          {% if session.role == "Curator" %}
            <li><a href="/upload">Upload Document</a></li>
            <li><a href="/curator/documents">My Documents</a></li>
          {% endif %}
          {% if session.role == "Admin" %}
            <li><a href="/admin/users">Manage Users</a></li>
          {% endif %}
          {% if session.role == "EndUser" %}
            <li><a href="/query">Query</a></li> 
          {% endif %}
        </ul>
      
        <ul class="nav-right">
          {% if session.username %}
            <li>Hello {{ session.username }}</li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          {% endif %}
        </ul>
    </nav>

<h2>Your Uploaded Documents</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Type</th>
        <th>Source</th>
        <th>Processed?</th>
        <th>Added At</th>
        <th>Actions</th>
    </tr>

    {% for d in docs %}
    <tr>
        <td>{{ d.document_id }}</td>
        <td>{{ d.title }}</td>
        <td>{{ d.doc_type }}</td>
        <td>{{ d.source }}</td>
        <td>{{ "Yes" if d.processed else "No" }}</td>
        <td>{{ d.added_at }}</td>
        <td>
            <a href="/curator/edit/{{ d.document_id }}">Edit</a>
            <form action="/curator/delete/{{ d.document_id }}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('Delete this document?')">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
