<!DOCTYPE html>
<html>
<head>
    <title>Edit Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-left">
          <li><a href="/">Home</a></li>
          {% if session.role == "Curator" %}
            <li><a href="/upload">Upload Document</a></li>
            <li><a href="/curator/documents">My Documents</a></li>
          {% endif %}
          {% if session.role == "Admin" %}
            <li><a href="/admin/users">Manage Users</a></li>
          {% endif %}
          {% if session.role == "EndUser" %}
            <li><a href="/query">Query</a></li> 
          {% endif %}
        </ul>
      
        <ul class="nav-right">
          {% if session.username %}
            <li>Hello {{ session.username }}</li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          {% endif %}
        </ul>
    </nav>

<h2>Edit Document: {{ doc.title }}</h2>

<form method="POST">

    <label>Title:</label><br>
    <input type="text" name="title" value="{{ doc.title }}" required><br><br>

    <label>Type:</label><br>
    <input type="text" name="doc_type" value="{{ doc.doc_type }}" required><br><br>

    <label>Source:</label><br>
    <input type="text" name="source" value="{{ doc.source }}"><br><br>

    <button type="submit">Save Changes</button>

</form>

</body>
</html>
